:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    min-height: 100vh;
    background: #2A3335;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    font-family: "Titan One", cursive;
    margin-bottom: 20px;
    text-align: center;
}
footer{
    color: white;
    font-family: "Titan One", cursive;
    text-align: center;
    margin-top: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    font-family: "Gloria Hallelujah", cursive;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.card:hover::before {
    opacity: 1;
}

a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}

.user {
    color: white;
    font-size: 24px;
    font-family: "Titan One", cursive;
}
